body {
    height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
div {
    background-color: white;
    height: 100%;
    width: 400px;
    display: flex;
    margin-left: 250px;
    }
    
    header {
    margin: 0;
    height: 70px;
    width: 100vw;
    background-color: gray;
    }
    
    footer {
    height: 70px;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: space-between;
    
    }




