*{
    margin: 0;
}

header {
height: 70px;
width: 100vw;
background-color: gray;
display: flex;
}

#square {
    height:  50px;
    width: 50px;
    background-color: blue;
    margin: 8px;

}
#paragraph {
    margin: 20px;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#blue {
    height: 150px;
    width: 100vw;
    background-color: blue;
}
#yellowgreen{
    height: 150px;
    width: 100vw;
    background-color: turquoise;
}
#avocado{
    height: 150px;
    width: 100vw;
    background-color: lightgreen;
}
#yellow{
    height: 150px;
    width: 100vw;
    background-color: yellow;
}






